*{
    padding: 0;
    margin: auto;
}

.page1
{
    width: 1440px;
    height: 1223px;
}

.intro
{
    width: 1140px;
    height: 48px;
    padding-top: 12px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.page1__bg
{
    background-image: url(./img/Vector\ 1.png);
    height: 789px;
    background-color: #FFFFFF;
}

.intro p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 2px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #212121;
}

.intro__btn
{
    width: 184px;
    height: 48px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    border-radius: 99px;
    border: none;
}

.services
{
    width: 847px;
    height: 47px;
    display: flex;
    margin-top: 30px;
    margin-left: 261px;
    align-items: center;
    justify-content: space-between;
}

.program
{
    width: 1078px;
    height: 562px;
    margin-top: 38px;
    margin-left: 164px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    position: relative;
    padding-top: 20px;
}

.infor
{
    display: flex;
    width: 567px;
    height: 434px;
    margin-top: -100px;
    margin-left: 66px;
}

.infor p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.infor__function .func1 img, .infor__function .func2 img
{
    float: left;
    position: absolute;
    margin-top: 5px;
}

.infor__function .func1 p, .infor__function .func2 p
{
    margin-left: 40px;
}

.program p
{
    color: #FFFFFF;
    margin-left: 66px;
}

.note
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 60px;
    color: #FFFFFF;
    margin-left: 66px;
}

.note span
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800 !important;
    font-size: 48px !important;
    line-height: 60px !important;
    color: #FFFFFF;
}

.infor__function
{
    width: 559px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.infor__function .func1
{
    width: 273px;
    height: 240px;
}

.infor__function .func2
{
    width: 260px;
    height: 240px;
}

.infor__photo
{
    margin-left: 45px;
    margin-top: -115px;
}

.infor__btn
{
    position: relative;
    display: flex;
    width: 192px;
    height: 56px;
    background: #1890FF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 26px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    margin-top: -2%;
}

.standard
{
    width: 1440px;
    height: 405px;
    background-color: #FFFFFF;
    padding-top: 30px;
}

.standard h1
{
    text-align: center;
    padding-top: 30px;
}

.standard__list
{
    width: 1140px;
    height: 237px;
    margin-left: 150px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list__std
{
    width: 176.8px;
    height: 237px;
    text-align: center;
}

.list__std div
{
    width: 152.8px;
    height: 213px;
    margin: auto;
}

.list__std p
{
    text-align: left;
}

.list__number
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F; 
}


.page2
{
    width: 1440px;
    height: 970px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
}

.page2__bg
{
    display: flex;
}

.bg__img
{
    margin-top: 245px;
    margin-left: 165px;
}

.advise
{
    width: 540px;
    height: 786px;
    margin-left: 78px;
    margin-top: 120px;
    position: absolute;
    margin-left: 735px;
    margin-top: 120px;
}
 
.advise .adv__content
{
    display: flex;
    float: left;
}
 
.adv__content img
{
    margin-top: 25px;
    margin-right: 15px;
}

.adv__1
{
    width: 440px;
    margin: 0 48px 0 48px;
}

.adv__1 h1
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}

.adv__1 p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;  
    font-feature-settings: 'salt' on, 'liga' off;  
    color: #FFFFFF;  
}

.adv__title
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}

.adv__title span
{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.adv__2
{
    width: 420px;
    height: 416px;
    margin: 40px 72px 88px 48px;
}

.advise__btn
{
    display: flex;
    flex-direction: column;
    width: 219px;
    height: 48px;
    border-radius: 99px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    border: none;
}

.advise__btn p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.page3
{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1440px;
    height: 764px;
    background-color: #FFFFFF;
    background-image: url(./img/Frame\ 1000001224.png);
    background-repeat: no-repeat;
    background-position: bottom center; 
}

.page3__name h2
{
    width: 734px;
    height: 128px;
    margin: 64px 355px 0px 355px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: rgba(30, 56, 91, 0.962205);
}

.std__line1
{
    display: block;
    position: absolute;
    margin-top: 45px;
    margin-left: 290px;
}

.std__line2
{
    display: block;
    position: absolute;
    margin-top: 325px;
    margin-left: 290px;
}

.std__cluster1, .std__cluster2
{
    width: 1140px;
    height: 234px;
    display: flex;
    margin: 40px 150px 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.std__content
{
    width: 360px;
    height: 234px;
    z-index: 1;
}


.std__content h1
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.std__content p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
    width: 280px;
    margin-left: 38px;
}



.page4
{
    width: 1440px;
    height: 984px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    background-image: url(./img/Rectangle\ 4.png);
    background-repeat: no-repeat;
    background-position: right top 300px;
}

.page4__name
{
    width: 730px;
    height: 64px;
    margin: 80px 355px 0px 355px;
    font-family: 'Inter';
    font-weight: 800;
    font-size: 28px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.sub__list
{
    display: flex;
    width: 1112px;
    height: 720px;
    margin: 40px 164px 0px 164px;
}

.list__ul
{
    width: 540px;
    height: 592px;
    margin: 64px 32px 64px 0px;
}

.list__li, .list__li- 
{
    display: flex;
    float: left;
}

.list__li
{
    margin-top: 48px;
}

.list__li div, .list__li- div
{
    margin-left: 40px;
} 

.list__li div h2, .list__li- div h2
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.list__li div p, .list__li- div p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.page5
{
    width: 1440px;
    height: 1289px;
    display: flex;
    justify-content: center;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
}

.page5__name
{
    width: 868px;
    height: 128px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}

.page5__photo
{
    margin: 0px 279px 0px 279px;
    
}

.img1, .img2, .img3, .img4
{
    position: absolute;
}

.img1
{
    margin-top: 197px;
    z-index: 1;
}

.img2
{
    margin-left: 583px;
    margin-top: 98px;
    z-index: 1;
}

.img3
{
    margin-left: 554px;
    margin-top: 430px;
}

.img4
{
    margin-top: 153px;
    margin-left: 120px;
}

.page5__content
{
    width: 1198px;
    height: 347px;
    margin: 40px 121px 0px 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page5__content div
{
    width: 325px;
    height: 304px;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding-top: 44px;
    padding-left: 44px;
}

.page5__content div p
{
    margin-top: 20px;
}

.page5__content div p
{
    width: 266px;
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.page5__content div span
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #18191F;
}

.page6
{
    width: 1440px;
    height: 1201px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

#class__font
{
    font-family: 'Inter';
    font-style: normal;
    font-feature-settings: 'salt' on, 'liga' off;
}

.page6__name h1
{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    width: 730px;
    height: 128px;
    color: #18191F;
    text-align: center;
    margin-top: 64px;
}

.page6__name p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8E8E93;
    width: 848px;
    height: 64px;
    margin-top: 24px;
    text-align: center;
}

.page6__name span
{
    color: #EA6925;
}

.cont__sign
{
    width: 1140px;
    height: 464px;
    display: flex;
    margin-top: 40px;
}

.cont__solution
{
    width: 555px;
    height: 464px;
}

.sol__head
{
    width: 555px;
    height: 152px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    border-radius: 16px 16px 0px 0px;
    display: flex;
}

.sol__head div
{
    width: 475px;
    height: 56px;
    align-items: center;
    display: flex;
}

.sol__head span
{
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.sol__head p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.sol__body
{
    width: 555px;
    height: 312px;
    background-color: #F5F5FD;
    border-radius: 0px 0px 16px 16px;
}

.sol__body div
{
    width: 475px;
    height: 104px;
    align-items: center;
    display: flex;
}

.sol__body img
{
    position: absolute;
    margin-left: 25px;
}

.sol__body span
{
    width: 395px;
    padding-left: 113px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #18191F;
}

.cont__application
{
    margin-top: 60px;
    margin-bottom: 106px;
}

.cont__application h2
{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.app__list
{
    width: 1140px;
    height: 222px;
    display: flex;
}

.list__element
{
    text-align: center;
    width: 360px;
    height: 222px;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
}


.list__element h3
{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
}

.list__element p
{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding-top: 30px;
      width: 270px;
      height: 120px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .swiper {
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide h2
    {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: bold;
        text-transform: uppercase;
    }

    .swiper-slide p
    {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #212121;
    }

    .swiper-button-next, .swiper-button-prev
    {
        padding-top: 100px;
    }
    
.page7__name
{
    position: absolute;
    width: 1110px;
    height: 168px;
    padding-bottom: 400px;
    margin-left: 165px;
}

.page7__name h1
{
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}

.page7__name p
{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.page7__rectangle
{
    display: flex;
    align-items: center;
    position: absolute;
    width: 1440px;
    margin-top: 230px;
}

.rect__1
{
    height: 300px;
    margin-right: 1200px;
    width: 233px;
    background: linear-gradient(90deg, #EA743C 0%, rgba(217, 217, 217, 0) 100%);
}

.rect__2
{
    height: 300px;
    width: 200px;
    background: linear-gradient(90deg, #EA743C 0%, rgba(217, 217, 217, 0) 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.page8
{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 385px;
    background-image: linear-gradient(rgba(240, 86, 91, 0.753) 0%, rgba(223, 139, 94, 0.842) 101.48%), url(./img/image\ 9.png);
    
}

.page8__form
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 1140px;
    height: 249px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0px 0px 5px 4px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(34.5px);
    border-radius: 16px;
}

.form__regis
{
    width: 526px;
    height: 129px;
}

.form__regis p
{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 40px;
}

.form__regis h1
{
    font-weight: 800;
    font-size: 48px;
    line-height: 77px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 40px;
}

.conf__input
{
    width: 481px;
    height: 52px;
    border-radius: 4px;
    border: none;
    padding-left: 24px;
    margin-right: 61px;
}

input::placeholder
{
    color: #AEAEB2;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}

.conf__btn
{
    position: absolute;
    flex-direction: row;
    align-items: center;
    padding: 10px 32px;
    width: 90px;
    height: 44px;
    background: linear-gradient(224.18deg, #F0565B 0%, #EA7639 101.48%);
    border-radius: 4px;
    margin-left: 410px;
    margin-top: 4px;
    border: none;
    color: #FFFFFF;
}


.page9
{
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 352px;
    background-color: #0B0D17;
    color: #FFFFFF;
}

.page9__company
{
    display: flex;
}

.comp__infor, .comp__address, .comp__contact
{
    width: 310px;
}

.comp__address
{
    padding-left: 125px;
}

.comp__contact
{
    margin-left: 40px;
    color: #FFFFFF;
}

.comp__contact a
{
    text-decoration: none;
}

.comp__contact a:hover
{
    color: #EA743C;
}

.comp__infor p, .comp__address p, .comp__contact p
{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}

.comp__icon a img:hover
{
    width: 15%;
    height: 15%;
}

.res-mobile
{
    display: none;
}

